.listagem{
  margin: 40px;
  text-align: center;

}

.paginacao{
  padding-bottom: 20px;

  &__conteudo {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  &__info {
   color: white;
   font-weight: 600;
  }

  &__botao {
    border-radius: 10px;
    padding: 10px;
  }
}

