<app-search (emmitSearch)="getSearch($event)"></app-search>

<div *ngIf="isLoading">Carregando...</div>

<section class="listagem">
  <ng-template
    *ngIf="!isLoading"
    ngFor
    let-pokemon
    [ngForOf]="pokemonsToDisplay"
  >
    <app-pokemon-card
      pokemon="{{ pokemon.name }}"
      imagem="https://projectpokemon.org/images/normal-sprite/{{
        pokemon.name
      }}.gif"
    ></app-pokemon-card>
  </ng-template>

  <img
    src="assets/error.png"
    alt="Deu erro na mostragem do pokemon"
    width="100%"
    *ngIf="apiError"
  />

  <div *ngIf="pokemonsToDisplay.length === 0 && !isLoading && !apiError">
    Nenhum resultado encontrado.
  </div>
</section>
<section class="paginacao">
  <div class="paginacao-conteudo">
    <button
      class="paginacao-botao"
      (click)="previousPage()"
      [disabled]="currentPage === 1 || isLoading"
    >
      Anterior
    </button>

    <div class="paginacao-info">{{ currentPage }} de {{ totalPages }}</div>

    <button
      class="paginacao-botao"
      (click)="nextPage()"
      [disabled]="currentPage === getTotalPages() || isLoading"
    >
      Próxima
    </button>
  </div>
</section>
