<app-search (emmitSearch)="getSearch($event)"></app-search>

<section class="listagem">
  <ng-template ngFor let-pokemon [ngForOf]="pokemonList">
    <app-pokemon-card
      pokemon="{{ pokemon.name }}"
      imagem="{{ pokemon.status.sprites.other.dream_world.front_default }}"
    ></app-pokemon-card>
    <img
      src="assets/error.png"
      alt="Deu erro na mostragem do pokemon"
      width="100%"
      *ngIf="apiError"
    />
  </ng-template>

  <div class="pagination">
    <button (click)="prevPage()">Anterior</button>
    <button
      *ngFor="let page of pageNumbers"
      (click)="setPage(page)"
      [class.active]="currentPage === page"
    >
      {{ page + 1 }}
    </button>
    <button (click)="nextPages()">Próximo</button>
    <p>Página {{ currentPage + 1 }} de {{ totalPages }}</p>
  </div>
</section>
