
@use '@angular/material' as mat;

@include mat.core();

@import './app/scss-global/variables.scss';
@import './app/scss-global/reset.scss';
@import './app/scss-global/rem-calc.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	max-width: rem-calc(600);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
