<div class="pokemon">
  <section class="pokemon-imagem">
    <img src="{{ imagem }}" alt="{{ pokemon }}" class="pokemon-imagem-jpg" />
  </section>

  <section class="pokemon-infos">
    <div class="pokemon-nome">
      <h2 class="pokemon-adicional">
        {{ pokemon }}
      </h2>
    </div>
    <div class="pokemon-comentario">
      <div class="pokemon-botoes">
        <app-modal-comentario></app-modal-comentario>
        <app-button texto="Excluir comentário"></app-button>
      </div>
    </div>
  </section>
</div>
