<div class="pokemon">
  <a
    [routerLink]="['detalhes', pokemonStatusID]"
    class="pokemon"
    *ngIf="pokemonStatus"
  >
    <div class="pokemon__imagem">
      <img
        src="{{ imagem }}"
        alt="{{ pokemon }}"
        class="pokemon__imagem__jpg"
      />
    </div>
  </a>

  <section class="pokemon__infos">
    <div class="pokemon__nome">
      <h2 class="pokemon__adicional">
        {{ pokemon }}
      </h2>
    </div>

    <div class="pokemon__comentario">
      <div class="pokemon__botoes">
        <app-modal-comentario></app-modal-comentario>
      </div>
    </div>
  </section>
  <app-favorite-button></app-favorite-button>
</div>
